
.form-control {
  display: block;
  width: 100%;
  maх-width: 100%;
  padding: $input-btn-padding-y $input-btn-padding-x;
  background-clip: padding-box;
  border: $border-width solid $border-color;
  border-radius: $border-radius-base;
  font-size: $font-size-md;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 1;
  }
}