// Color system

$body-bg:               #f9f7ee !default;
$body-color:            #231f20 !default;
$text-muted:            rgba($body-color,.6) !default;
$primary-color:         #57b816 !default;
$primary-dark-color:    darken($primary-color,15%)!default;
$inverse-color:         #ffffff !default;

// --------------------------------------

$min-width:             768px;
$max-width:             1440px;

$grid-gutter-width:     30px !default;
$breakpoints:("": "768px", "m":"1024px", "l":"1400px");

// --------------------------------------

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
), $spacers);

// --------------------------------------

$link-color:            #2073b3;
$link-decoration:       underline !default;
$link-hover-color:      darken($link-color,5%);
$link-hover-decoration: none !default;

// --------------------------------------

$font-family-base: Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-size-base: .875rem !default; // 14
$font-size-md:   1rem !default;  // 16
$font-size-lg:   1.125rem !default;  // 18


$font-weight-base: normal !default;
$line-height-base: 1.4 !default;


$h1-font-size: 2rem !default;
//$h2-font-size: 1.75rem !default;
//$h3-font-size: 1.5rem !default;
//$h4-font-size: 1.25rem !default;
//$h5-font-size: 1rem !default;
//$h6-font-size: .875rem !default;

$headings-margin-bottom: .5rem !default;
//$headings-font-family:   inherit !default;
//$headings-font-weight:   500 !default;
//$headings-line-height:   $line-height-base !default;
//$headings-color:         inherit !default;


$paragraph-margin-bottom: 1rem !default;
$dt-font-weight: $font-family-base !default;


// border
$border-width: 1px;
$border-color: #e0dfca;
$border-radius-base: 0.25rem;
$border-radius-md: 2rem;

// Buttons

$input-btn-padding-y:       0.25rem !default;
$input-btn-padding-x:       0.25rem !default;
$input-btn-line-height:     1.25 !default;
$input-placeholder-color:   $text-muted !default;
$input-disabled-bg:         text-secondary;

$form-group-margin-bottom:  1rem !default;

// Tables
$table-cell-padding:        .75rem !default;






